.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slidersection{
    padding: 50px 0;
    position: relative;
    transform: scale(1);

  }
  .slidersection__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slidersection__btns{
    width: 52px;
    height: 100%;
  }
  .theswiper .swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9px;
  }
  .theswiper .swiper-button-prev::before{
    content: url(../img/arrowleft.png);
    position: fixed;
    bottom: 45px;
    left: 1325px;
    width: 52px;
  }
  .theswiper .swiper-button-next::before{
    content: url(../img/arrowright.png);
    position: fixed;
    bottom: 105px;
    left: 1325px;
    width: 52px;
  }
  .slidersection h2{
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 32px;
  }
  .theswiper .swiper-slide p{
    font-family: var(--second-family);
font-weight: 500;
font-size: 14px;
text-transform: uppercase;
text-align: center;
color: #2d2d2d;
  }
  @media(max-width:1400px){
    .theswiper .swiper-button-next::before {
        position: fixed;
        bottom: 105px;
        left: 1225px;
        width: 52px;
    }
    .theswiper .swiper-button-prev::before {
        position: fixed;
        bottom: 45px;
        left: 1225px;
        width: 52px;
    }
  }
  @media(max-width:1300px){
    .theswiper .swiper-button-next::before {
        position: fixed;
        bottom: 105px;
        left: 1180px;
        width: 52px;
    }
    .theswiper .swiper-button-prev::before {
        position: fixed;
        bottom: 45px;
        left: 1180px;
        width: 52px;
    }
    .slidersection__btns {
        width: 150px;
        height: 100%;
    }
  }
  
  @media(max-width:1250px){
    .theswiper .swiper-button-next::before {
        position: fixed;
        bottom: 105px;
        left: 1070px;
        width: 52px;
    }
    .theswiper .swiper-button-prev::before {
        position: fixed;
        bottom: 45px;
        left: 1070px;
        width: 52px;
    }
    
  }
  @media(max-width:1150px){
    .theswiper .swiper-button-next::before {
        position: fixed;
        bottom: 105px;
        left: 965px;
        width: 52px;
    }
    .theswiper .swiper-button-prev::before {
        position: fixed;
        bottom: 45px;
        left: 965px;
        width: 52px;
    }
    
  }
  
  @media(max-width:1050px){
    .theswiper .swiper-button-next::before {
        position: fixed;
        bottom: 105px;
        left: 860px;
        width: 52px;
    }
    .theswiper .swiper-button-prev::before {
        position: fixed;
        bottom: 45px;
        left: 860px;
        width: 52px;
    }
    
  }
  @media(max-width:950px){
    .theswiper .swiper-button-next::before {
        position: fixed;
        bottom: 105px;
        left: 760px;
        width: 52px;
    }
    .theswiper .swiper-button-prev::before {
        position: fixed;
        bottom: 45px;
        left: 760px;
        width: 52px;
    }
    
  }
  @media(max-width:850px){
    .theswiper .swiper-button-next::before {
        position: fixed;
        bottom: 105px;
        left: 660px;
        width: 52px;
    }
    .theswiper .swiper-button-prev::before {
        position: fixed;
        bottom: 45px;
        left: 660px;
        width: 52px;
    }
    
  }
  @media(max-width:750px){
    .theswiper .swiper-button-next::before {
        position: fixed;
        bottom: 105px;
        left: 570px;
        width: 52px;
    }
    .theswiper .swiper-button-prev::before {
        position: fixed;
        bottom: 45px;
        left: 570px;
        width: 52px;
    }
    
  }
  @media(max-width:650px){
    .theswiper .swiper-button-next::before {
        position: fixed;
        bottom: 105px;
        left: 485px;
        width: 52px;
    }
    .theswiper .swiper-button-prev::before {
        position: fixed;
        bottom: 45px;
        left: 485px;
        width: 52px;
    }
    
  }
  @media(max-width:550px){
    .theswiper .swiper-button-next::before {
        position: fixed;
        bottom: 105px;
        left: 385px;
        width: 52px;
    }
    .theswiper .swiper-button-prev::before {
        position: fixed;
        bottom: 45px;
        left: 385px;
        width: 52px;
    }
    .slidersection__btns {
        width: 180px;
        height: 100%;
    }
  }
  @media(max-width:500px){
    .slidersection__btns {
        width: 0;
        height: 100%;
    }
    .theswiper .swiper-button-next::before {
        position: fixed;
        bottom: 0px;
        left: 345px;
        width: 52px;
    }
    .theswiper .swiper-button-prev::before {
        position: fixed;
        bottom: 0px;
        left: 50px;
        width: 52px;
    }
    .slidersection h2 {
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 19px;
        text-transform: uppercase;
        color: var(--black);
        margin-bottom: 32px;
    }
  }
  @media(max-width:400px){
    .theswiper .swiper-button-prev::before {
        position: fixed;
        bottom: 0px;
        left: 40px;
        width: 52px;
    }
    .theswiper .swiper-button-next::before {
        position: fixed;
        bottom: 0px;
        left: 300px;
        width: 52px;
    }
  }
  @media(max-width:350px){
    .slidersection h2 {
        font-size: 15px;
        margin-bottom: 32px;
    }
    .theswiper .swiper-slide img{
        width: 50px;
    }
    .theswiper .swiper-button-prev::before {
        position: fixed;
        bottom: 0px;
        left: 35px;
        width: 52px;
    }
    .theswiper .swiper-button-next::before {
        position: fixed;
        bottom: 0px;
        left: 260px;
        width: 52px;
    }
    .theswiper .swiper-slide p {
        font-size: 10px;
    }
  }
  